{% extends 'backend/base.html.twig' %}

{% block body %}
    <h1 class="my-4 text-center text-lg-left">Playlist</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Image</th>
            <th style="width: 100px;">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr id="item" class="item-{{ video.id }}{% if (not(video.enable)) %} table-danger{% endif %}" data-item-id="{{ video.id }}">
                <td>{{ video.id }}</td>
                <td>{{ video.title }}</td>
                <td><img width="100" class="img-fluid img-thumbnail" src="{{ video.thumbnail }}"></td>
                <td>
                    <span class="pull-right text-center">
                        <a href="#" class="mdi-action-disable" title="disable" {% if (not(video.enable)) %}hidden{% endif %}>
                            <span class="oi oi-circle-x"></span>
                        </a>
                        <a href="#" class="mdi-action-enable" title="enable" {% if (video.enable) %}hidden{% endif %}>
                            <span class="oi oi-circle-check"></span>
                        </a>
                    </span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}