<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Image</th>
            <th style="width: 100px;">Action</th>
        </tr>
    </thead>
    <tbody>
    {% for video in videos %}
        <tr
            class="search-item"
            data-thumbnail="{{ video.thumbnail }}"
            data-title="{{ video.title }}"
            data-code="{{ video.code }}"
            id="search-item-{{ video.code }}"
        >
            <td>{{ video.title }}</td>
            <td><img width="100" class="img-fluid img-thumbnail" src="{{ video.thumbnail }}">
                <!--iframe
                        width="300"
                        height="300"
                        src="https://www.youtube.com/embed/{{ video.code }}?rel=0&modestbranding=1&showinfo=0"
                        frameborder="0"
                        gesture="media"
                        allow="encrypted-media"
                        allowfullscreen
                ></iframe-->

            </td>
            <td>
                <span class="pull-right text-center">
                    <a href="#" class="mdi-action-add" title="Add video">
                        <span class="oi oi-circle-check"></span>
                    </a>
                </span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
